@import url('https://fonts.googleapis.com/css2?family=Glory:wght@400;500&display=swap');

.App {
  margin: 0;
  padding: 30px;
  background-color: rgb(241, 250, 241);
  font-family: 'Glory', sans-serif;
}

li {
  list-style: none;
}
